<!-- footer -->
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <a class="btn btn-primary" href="/jokePro">Programming Joke</a>
    <a class="btn btn-primary" href="/jokeDark">Christmas Joke</a>
    <a class="btn btn-primary" href="/dog">Dog IMG</a>
    <a class="btn btn-primary" href="/ip">Public IP</a>
    <a class="btn btn-primary" href="/weather">Weather</a>
    <a class="btn btn-primary" href="/cocktail">Cocktail</a>
  </div>
</div>

</main>
<div class="container-fluid bg-info">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© <%= valueYear %> Christian Sanchez, Company, Inc</span>
    </div>
  </footer>
</div>

</body>
</html>