<%- include("partials/header.ejs") %>
<!-- header -->

<!-- content -->
<div class="container-fluid">
  <h1 class="text-center">Welcome to the Best Web API Suite</h1>
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <% if (locals.valueYear && locals.joke) { %>
        <h3 class="text-dark"><%= joke %></h3>
    <% } else { %>
        <p>Waiting for an API entry ...</p>
    <% } %>
  </div>

<!-- footer -->
<%- include("partials/footer.ejs") %>